body {
	display: grid;
	grid-template-areas: 
		"header header header"
		"leftAside corpo imageAside"
		"footer footer footer";
	grid-template-rows: 200px auto 50px;
	grid-template-columns: 400px auto 400px;
	margin: 0px 20px 0px 20px;
}

header#inicio {
	grid-area: header;
	text-align: right;
	margin: 5px;
}

figure#icone img{
	float: left;
}

aside.left {
	grid-area: leftAside;
}

aside.images {
	grid-area: imageAside;
}

section {
	grid-area: corpo;
}

nav li {
	display: inline-block;
}

footer {
	grid-area: footer;
}

nav.menu {
}

nav.menu li {
	background-color: #CCCCCC;
	border: 1px solid black;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	margin: 5px 10px ;
	padding: 5px;
	text-align: center;
	width: 200px;
}

nav.menu a {
	text-decoration: none;
	color: black;
	font-size: 14pt;
}

aside.esquerda nav.menu li {
	display: block;
	text-align: left;
	width: 250px;
}